@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.dropdown {
  position: absolute0;
  z-index: 10;
  background-color: vars.$c-white;
  display: none;

  &.open {
    display: block;
  }
}
