.landing-section {
  padding: 2rem 1rem;
  & .header {
  }

  & .main {
    & .activities {
      padding: 2.6rem 0rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;
    }
  }
}
