@use "/src/scss/abstract/mixins.scss" as mixins;
@use "/src/scss/abstract/variables.scss" as vars;

.login-container {
  position: relative;
  // width: 45%;
  flex-basis: 45%;
  // flex-shrink: 0;
  margin-inline: 0.5rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  padding-block: 10vh;

  @include mixins.respond("tab-port") {
    justify-content: center;
    margin: 1rem 0;

    width: 100%;
    order: 2;
  }
  &--customer {
  }
  &--admin {
  }

  & .form-container {
    position: relative;

    flex-basis: 50rem;
    max-width: 80rem;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(205, 216, 235);
    border-radius: 1.5rem;
    color: black;
    padding: 1rem 1.5rem;
    transition: transform 0.5s ease;

    & .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & .inactive {
        position: absolute;
        right: 0rem;

        padding: 1rem 1.6rem;
        background-color: vars.$c-gray-400;
        color: vars.$c-gray-400;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        cursor: pointer;

        font-weight: 300;
        font-size: 1.4rem;

        &.admin {
          background-color: vars.$c-gray-400;
          color: vars.$c-gray-400;

          &:active {
            color: vars.$c-gray-400;
          }
        }

        &.customer {
          &:active {
            color: vars.$c-gray-400;
          }
        }
      }
      & .active {
        color: vars.$c-gray-400;

        padding: 1rem 1.6rem;
        font-weight: 700;
        font-size: 2rem;

        &.admin {
          color: vars.$c-gray-400;
        }
      }
    }

    & .advanced-group {
      display: flex;
      justify-content: space-evenly;
    }
    & .input-group {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      border-bottom: 1px solid vars.$c-gray-400;
      margin: 2rem 2rem;

      &--check {
        display: block;
        margin-bottom: 0;
        padding-bottom: 0.5rem;
      }
      &--tab {
        flex-direction: column;
        & .input-field {
          flex-basis: 15rem;
        }
      }
      & .input-label {
        flex: 1;
        color: vars.$c-gray-400;

        &--check {
          font-size: 1.4rem;
          cursor: pointer;
        }
      }

      & .input-field {
        flex: 1;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border: 1px solid vars.$c-gray-400;
        border-radius: 1rem;
        margin-bottom: 0.4rem;
        outline: none;

        &:focus-visible {
          border-color: vars.$c-gray-400;
        }
        &::placeholder {
          font-size: 1.3rem;
        }
        &:disabled {
          outline: none;
          border: 1px solid rgba(233, 101, 101, 0.884);
        }

        &--check {
          margin-inline: 0.5rem;
          font-size: 1.4rem;
          width: 1rem;
          cursor: pointer;
        }
        &--due {
          border: 1px solid rgba(233, 101, 101, 0.884);
          cursor: not-allowed;
          &:focus {
            outline: none;
          }
        }
      }

      & .show-password {
        cursor: pointer;
        font-size: 1.4rem;
        color: vars.$c-gray-400;
        position: absolute;
        left: calc(100% + 1rem);
        top: auto;
        &:hover {
          color: vars.$c-blue-fair-400;
        }
        &:active {
          color: vars.$c-blue-fair-800;
        }
      }
    }
    & .action {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-inline: 2rem;
      gap: 1rem;

      & button {
        // margin-top: 2rem;
      }
      & svg {
        // vertical-align: bottom;
        color: rgb(52, 221, 137);
      }
    }
    & .error-message {
      margin-block: 1rem;
      font-size: 1.4rem;
      word-break: break-word;
      text-overflow: ellipsis;
      max-height: 5em;
      overflow: auto;
      border: 1px solid red;
      border-radius: 1rem;
      padding: 0.5rem;
    }
  }
}
