@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.project-registration {
  padding: 2rem;
  background-color: vars.$c-blue-fair-100;
  padding: 4rem 2rem;
  height: 100%;

  & .header {
    & .h2 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }

  & .form-container {
    & .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & .input-field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.4rem;
        margin-bottom: 1rem;
        border: none;

        & .title {
          margin-bottom: 0.6rem;
        }

        & .label {
          font-size: 1.4rem;
          font-weight: 500;
        }

        & .input {
          padding: 0.5rem;
          font-size: 1.4rem;
          border: 1px solid vars.$c-blue-fair-100;
          border-radius: 5px;
          outline: none;
          line-height: 1em;

          &:hover {
            border-color: vars.$c-blue-fair-200;
          }
          &:focus {
            border-color: vars.$c-blue-fair-200;
            box-shadow: 0 0 2px vars.$c-gray-800;
          }
        }
        & .input-label-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.6rem;
        }
      }

      & .text-fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2.6rem;

        background-color: vars.$c-white;
        padding: 1rem;
        border-radius: 1rem;

        & > div {
          // flex-grow: 2;
        }
      }

      & .radio-fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2.6rem;

        background-color: vars.$c-white;
        padding: 1rem;
        border-radius: 1rem;

        & > fieldset {
          // flex-grow: 2;
        }
      }

      & .footer {
        text-align: center;
      }
    }
  }
}

input[lang="ne"] {
  font-family: "Noto Sans Devanagari", "Mangal", sans-serif;
}
