@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.sidebar-item {
  text-decoration: none;
  display: block;
  padding: 0.2rem 1rem;
  transition: background-color 0.15s;
  text-transform: capitalize;
  color: vars.$c-orange-fair-950;

  & .sidebar-title {
    cursor: pointer;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    font-weight: 300;
    padding: 0.6rem 0.8rem;
    & span {
      cursor: pointer;

      border-left: 2px solid transparent;
      padding-inline: 2px;
      display: block;
      width: 100%;

      // &:hover {
      //   display: inline-block;
      //   border-left: 2px solid vars.$c-blue-fair-300;
      //   text-underline-position: under;
      //   color: vars.$c-orange-fair-400;
      // }

      // &.active {
      //   border-left: 2px solid vars.$c-rose-fair-400;
      //   color: vars.$c-marigold-600;
      // }
      & i {
        display: inline-block;
        width: 1.5rem;
      }
    }

    & .toggle-btn {
      cursor: pointer;
      background: none;
      color: vars.$c-rose-fair-950;
      border: none;

      & svg {
        color: inherit;
        width: 1rem;

        // &:hover {
        //   color: vars.$c-blue-fair-400;
        // }
      }
    }

    &.active {
      color: vars.$c-marigold-600;
      font-weight: 500;
    }

    &:hover {
      background-color: #{vars.$c-marigold-25}60;
    }
  }

  &.open > .sidebar-title .toggle-btn {
    transform: rotate(180deg);
    transform-origin: 50% 40%;
  }

  // Styles to handle sidebar items expansion
  & .sidebar-content {
    padding-top: 0.25em;
    height: 0;
    overflow: hidden;
  }
  &.open > .sidebar-content {
    height: auto;
  }
}
