@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.sidebar-item {
  text-decoration: none;
  display: block;
  padding: 0.75rem 1rem;
  transition: background-color 0.15s;
  text-transform: capitalize;
  color: vars.$c-rose-fair-950;

  &:hover {
    background-color: #{vars.$c-blue-fair-200}10;
    cursor: pointer;

    & & span {
      border-left: 2px solid vars.$c-blue-fair-300;

      &.active {
        border-left: 2px solid vars.$c-rose-fair-400;
      }
    }
    & .sidebar-title span {
      border-left: 2px solid vars.$c-blue-fair-300;
      color: vars.$c-rose-fair-600;

      &.active {
        background-color: transparent;
      }
    }
  }

  &.active {
  }
  &.inactive {
  }

  & span {
    border-left: 2px solid transparent;
    padding-inline: 2px;
    display: block;
    width: 100%;

    &:hover {
      display: inline-block;
      border-left: 2px solid vars.$c-blue-fair-300;
      text-underline-position: under;
      color: vars.$c-rose-fair-400;
      font-weight: 500;
    }

    &.active {
      border-left: 2px solid vars.$c-rose-fair-400;
      color: vars.$c-blue-fair-300;
    }
  }

  .sidebar-title {
    cursor: pointer;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    &:hover {
      & span {
        border-left: 2px solid vars.$c-blue-fair-300;
      }
      &.toggle-btn {
        color: vars.$c-blue-fair-300;
      }
    }
    & span {
      font-weight: 300;
      cursor: pointer;
    }
  }
  .sidebar-title span i {
    display: inline-block;
    width: 1.5rem;
  }
  .sidebar-title .toggle-btn {
    cursor: pointer;
    background: none;
    color: vars.$c-rose-fair-950;
    border: none;

    & svg {
      color: inherit;
      width: 1rem;

      &:hover {
        color: vars.$c-blue-fair-400;
      }
    }
  }

  &.open > .sidebar-title .toggle-btn {
    transform: rotate(180deg);
  }
  .sidebar-content {
    padding-top: 0.25em;
    height: 0;
    overflow: hidden;
  }
  &.open > .sidebar-content {
    height: auto;
  }

  & .plain {
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-weight: 300;

    & i {
      display: inline-block;
      width: 1.7em;
    }
  }
}
