@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.staffs-overview {
  width: 100%;
  padding: 1rem;

  & .header {
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .button-container {
      text-align: right;
    }
  }

  & .main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    & .table {
      width: 100%;
      & .table-head {
        & .tr {
          text-align: left;
          padding: 1rem;

          & th {
            font-weight: 400;
            background-color: vars.$c-gray-300;
            border: none;
            padding: 1rem;
          }
        }
      }

      & .table-body {
        & .tr {
          text-align: left;

          & td {
            font-weight: 400;
            background-color: vars.$c-gray-50;
            border: none;
            padding-inline: 1rem;
            padding-block: 0.5rem;

            &.name {
              text-transform: capitalize;
            }
          }
        }
      }
    }
    & .user-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      border: 1px solid vars.$c-gray-300;
      padding: 1rem;
      border-radius: 1rem;
      cursor: default;

      & .label {
        font-size: 1.2rem;
      }
    }
  }

  & .modal {
    & .api-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.6rem;
    }
  }
}
