@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.user-settings {
  padding: 1rem;

  & .header {
    margin-bottom: 1rem;
  }
  & .main {
    & .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & .input-field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.4rem;
        margin-bottom: 1rem;
        border: none;

        & .title {
          margin-bottom: 0.6rem;
        }

        & .label {
          font-size: 1.4rem;
          font-weight: 500;
        }

        & .input {
          padding: 0.5rem;
          font-size: 1.4rem;
          border: 1px solid vars.$c-blue-fair-100;
          border-radius: 5px;
          outline: none;
          line-height: 1em;

          &:focus {
            box-shadow: 0 0 2px vars.$c-gray-800;
          }
        }
        & .input-label-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.6rem;
        }
      }

      & .text-fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 4rem;

        & > div {
          // flex-grow: 2;
        }
      }
    }
  }
}
